<nav class="px-4 py-1">
    <h2 class="fs-3 my-0 text-white">Pages</h2>
    <ul class="me-5">
        <li><a routerLink="/system/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/system/accounts" routerLinkActive="active">Accounts</a></li>
    </ul>

    <h2 class="fs-3 my-0 text-white">System</h2>
    <ul class="me-5">
        <li><a routerLink="/system/f2ban/status" routerLinkActive="active">Fail2Ban</a></li>
        <li><a routerLink="/system/all-domains" routerLinkActive="active">List all domains</a></li>
        <li><a routerLink="/system/show-importable-accounts" routerLinkActive="active">Importable Accounts</a></li>
        <li><a routerLink="/system/service-list" routerLinkActive="active">Services</a></li>
    </ul>
</nav>
