<a routerLink="/system/sites">Back to all sites</a>

<ng-container *ngIf="site | async as s">
    <div class="d-flex justify-content-between">
        <h1>
            <i-bs name="lock-fill" width="2rem" height="2rem" *ngIf="s.isLocked"></i-bs>
            <i-bs name="unlock-fill" width="2rem" height="2rem" *ngIf="!s.isLocked"></i-bs>
            {{ s.domain }}
        </h1>

        <app-uptime
            [uptimeURI]="s.uptimeURI"
            [domain]="s.domain"
            class="d-flex flex-column align-items-end"></app-uptime>
    </div>
    <button (click)="unlockSite()" class="btn btn-primary" *ngIf="s.isLocked">
        <i-bs name="unlock-fill" width="2rem" height="2rem" *ngIf="!s.isLocked"></i-bs>
        Unlock
    </button>
    <button (click)="lockSite()" class="btn btn-primary" *ngIf="!s.isLocked">
        <i-bs name="lock-fill" width="2rem" height="2rem" *ngIf="s.isLocked"></i-bs>
        Lock
    </button>

    <h2 class="mt-5">Analytics</h2>
    <select class="form-select" aria-label="Analytic View" (change)="setAnalyticView($event)" style="max-width: 500px;">
        <option value="1">Day</option>
        <option value="30">Month</option>
        <option value="all">All Time</option>
      </select>
    <iframe class="mt-3" [src]="analyticsPath | safeUrlPipe"></iframe>
</ng-container>
