<a routerLink="/system/sites">Back to all sites</a>

<ng-container *ngIf="site | async as s">
    <h1>
        <i-bs name="lock-fill" width="2rem" height="2rem" *ngIf="s.isLocked"></i-bs>
        <i-bs name="unlock-fill" width="2rem" height="2rem" *ngIf="!s.isLocked"></i-bs>
        {{ s.domain }}
    </h1>

    <h2>Analytics</h2>
    <select class="form-select" aria-label="Analytic View" (change)="setAnalyticView($event)">
        <option value="1">Day</option>
        <option value="30">Month</option>
        <option value="all">All Time</option>
      </select>
    <iframe [src]="analyticsPath | safeUrlPipe"></iframe>
</ng-container>
