<a routerLink="/system/sites">Back to all sites</a>

<ng-container *ngIf="site | async as s">
    <h1>
        <i-bs name="lock-fill" width="2rem" height="2rem" *ngIf="s.isLocked"></i-bs>
        <i-bs name="unlock-fill" width="2rem" height="2rem" *ngIf="!s.isLocked"></i-bs>
        {{ s.domain }}
    </h1>

    <h2>Analytics</h2>
    <div class="form-check">
        <input class="form-check-input" id="day" type="radio" value="1" [(ngModel)]="analyticsView">
        <label class="form-check-label" for="day">Day</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" id="month" type="radio" value="30" [(ngModel)]="analyticsView">
        <label class="form-check-label" for="month">Month</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" id="all" type="radio" value="all" [(ngModel)]="analyticsView">
        <label class="form-check-label" for="all">All Time</label>
    </div>
    <iframe [src]="analyticsURL()"></iframe>
</ng-container>
