<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <div>
                            <img src="assets/images/logo.png" alt="{of" />
                        </div>
                        <p>Server Maintenance</p>
                    </div>

                    <app-load-average></app-load-average>
                </div>
            </div>
        </div>
    </div>
</header>
