@import "../../scss/variables.scss";

header {
    background-color: $c-grey;
    height: 110px;
    padding: $grid-gutter-width * 0.5;

    div, img {
        height: 100%;
    }

    p {
        margin: 0 0 0 $grid-gutter-width;
        font-size: 2rem;
        color: $c-white;
        font-weight: bold;
    }

    a {
        color: white;
        text-decoration: underline;
        margin-left: $grid-gutter-width / 2;
        cursor: pointer;
    }
}
